.vscode/settings.json
.vscode/tasks.json
L1A/a.exe
L1A/L1A.exe
L1A/L1A.zip
L1A/main.cpp
L1A/main.exe
L1A/main.o
L1A/makefile
L1A/.vscode/settings.json
L1A/.vscode/tasks.json
Lec03/.vscode/tasks.json
Lec03/Lec03/a.exe
Lec03/Lec03/main.cpp
Lec03/Lec03/main.exe
Lec03/Lec03/Makefile
Lec03/lectures/Lecture03/a.exe
Lec03/lectures/Lecture03/Lec03.exe
Lec03/lectures/Lecture03/main.cpp
Lec03/lectures/Lecture03/main.o
Lec03/lectures/Lecture03/Makefile
Lec04/Lec04.exe
Lec04/Lec4.exe
Lec04/main.cpp
Lec04/main.exe
Lec04/main.o
Lec04/Makefile
Lec06/main.cpp
Lec06/Makefile
Lec06/Lec06.exe
Lec06/main.o
Lec07/makefile
Lec07/main.cpp
Lec07/Lec07.exe
Lec07/main.o
Lec08/.DS_Store
Lec08/main.cpp
Lec08/Makefile
L2A/L2A.exe
Lec08/Lec08.exe
Lec08/calculatorFunctions.cpp
Lec08/calculatorFunctions.h
Lec08/main.o
Lec08/calculatorFunctions.o
Lec09/.DS_Store
Lec09/CalculatorFunctions.cpp
Lec09/CalculatorFunctions.h
Lec09/main.cpp
Lec09/Makefile
.vscode/L2B/main.cpp
Lec09/main.o
Lec09/Lec09.exe
Lec09/CalculatorFunctions.o
.vscode/L2B/makefile
L2B/main.cpp
L2B/makefile
L2B/L2B/makefile
L2B/L2B.exe
L2B/main.o
L2C/CoordinateConversion.cpp
L2C/CoordinateConversion.h
L2C/main.cpp
L2C/Makefile
sandbox/main.cpp
sandbox/Makefile
sandbox/main.o
sandbox/sandbox.exe
L2B/L2B.zip
A2/wumpus_functions.h
L2C/L2C.zip
A2/wumpus_functions.cpp
A2/Makefile
A2/main.cpp
.vscode/launch.json
A2/A2.exe
A2/main.o
A2/wumpus_functions.o
Lec16/Makefile
Lec15/data.txt
Lec15/Lec15.exe
Lec15/main.cpp
Lec15/main.o
Lec15/Makefile
Lec15/mydataOut.txt
Lec16/data.txt
Lec16/main.cpp
L3A/main.cpp
.gitignore
L3A/secretMessage.txt
L3A/Makefile
L3B/LICENSE
L3B/main.cpp
L3B/Makefile
L3B/README.txt
L3B/string_functions.cpp
.gitignore
L3B/string_functions.h
L3B/test_suite.cpp
L3B/test_suite.h
BoxClass/Box.cpp
BoxClass/Box.h
BoxClass/main.cpp
BoxClass/Makefile
L3B/L3B.exe
L3B/main.o
L3B/string_functions.o
.gitignore
L3B/test_suite.o
Lec18/main.cpp
Lec18/Course.h
Lec18/Course.cpp
Lec18/Lec18.exe
.gitignore
Lec18/Course.o
.gitignore
Lec18/main.o
Lec18/Makefile
A3/.DS_Store
A3/InputProcessor.cpp
A3/InputProcessor.h
A3/LICENSE
A3/main.cpp
A3/Makefile
A3/OutputProcessor.cpp
A3/OutputProcessor.h
A3/README.txt
A3/input/aliceChapter1.txt
A3/input/greeneggsandham.txt
A3/input/happybirthday.txt
A3/input/romeoandjuliet.txt
A3/solutions/aliceChapter1_xc.out
A3/solutions/aliceChapter1.out
A3/solutions/greeneggsandham_xc.out
A3/solutions/greeneggsandham.out
A3/solutions/happybirthday_xc.out
A3/solutions/happybirthday.out
A3/solutions/romeoandjuliet_xc.out
A3/solutions/romeoandjuliet.out
A3/A3.exe
A3/InputProcessor.o
A3/main.o
A3/OutputProcessor.o
Warehouse/Box.cpp
Warehouse/Box.h
Warehouse/Box.o
Warehouse/L4A.exe
Warehouse/main.cpp
Warehouse/main.o
Warehouse/Makefile
Warehouse/Warehouse.cpp
Warehouse/Warehouse.h
Warehouse/Warehouse.o
L4B/Box.cpp
L4B/Box.h
L4B/main.cpp
L4B/Makefile
L4B/Warehouse.cpp
L4B/Warehouse.h
__MACOSX/._SFML_template
__MACOSX/SFML_template/._.DS_Store
__MACOSX/SFML_template/._data
__MACOSX/SFML_template/._main.cpp
__MACOSX/SFML_template/._Makefile
__MACOSX/SFML_template/data/._arial.ttf
__MACOSX/SFML_template/data/._bubble.png
L4B/Box.o
L4B/L4B.exe
L4B/main.o
L4B/Warehouse.hpp
L4B/Warehouse.o
SFML_template/.DS_Store
SFML_template/main.cpp
SFML_template/Makefile
SFML_template/data/arial.ttf
SFML_template/data/bubble.png
SFML_Package/bin/sfml-audio.dll
SFML_Package/bin/sfml-graphics.dll
SFML_Package/bin/sfml-network.dll
SFML_Package/bin/sfml-system.dll
SFML_Package/bin/sfml-window.dll
SFML_Package/include/SFML/Audio.hpp
SFML_Package/include/SFML/Config.hpp
SFML_Package/include/SFML/GpuPreference.hpp
SFML_Package/include/SFML/Graphics.hpp
SFML_Package/include/SFML/Main.hpp
SFML_Package/include/SFML/Network.hpp
SFML_Package/include/SFML/OpenGL.hpp
SFML_Package/include/SFML/System.hpp
SFML_Package/include/SFML/Window.hpp
SFML_Package/include/SFML/Audio/AlResource.hpp
SFML_Package/include/SFML/Audio/Export.hpp
SFML_Package/include/SFML/Audio/InputSoundFile.hpp
SFML_Package/include/SFML/Audio/Listener.hpp
SFML_Package/include/SFML/Audio/Music.hpp
SFML_Package/include/SFML/Audio/OutputSoundFile.hpp
SFML_Package/include/SFML/Audio/Sound.hpp
SFML_Package/include/SFML/Audio/SoundBuffer.hpp
SFML_Package/include/SFML/Audio/SoundBufferRecorder.hpp
SFML_Package/include/SFML/Audio/SoundFileFactory.hpp
SFML_Package/include/SFML/Audio/SoundFileFactory.inl
SFML_Package/include/SFML/Audio/SoundFileReader.hpp
SFML_Package/include/SFML/Audio/SoundFileWriter.hpp
SFML_Package/include/SFML/Audio/SoundRecorder.hpp
SFML_Package/include/SFML/Audio/SoundSource.hpp
SFML_Package/include/SFML/Audio/SoundStream.hpp
SFML_Package/include/SFML/Graphics/BlendMode.hpp
SFML_Package/include/SFML/Graphics/CircleShape.hpp
SFML_Package/include/SFML/Graphics/Color.hpp
SFML_Package/include/SFML/Graphics/ConvexShape.hpp
SFML_Package/include/SFML/Graphics/Drawable.hpp
SFML_Package/include/SFML/Graphics/Export.hpp
SFML_Package/include/SFML/Graphics/Font.hpp
SFML_Package/include/SFML/Graphics/Glsl.hpp
SFML_Package/include/SFML/Graphics/Glsl.inl
SFML_Package/include/SFML/Graphics/Glyph.hpp
SFML_Package/include/SFML/Graphics/Image.hpp
SFML_Package/include/SFML/Graphics/PrimitiveType.hpp
SFML_Package/include/SFML/Graphics/Rect.hpp
SFML_Package/include/SFML/Graphics/Rect.inl
SFML_Package/include/SFML/Graphics/RectangleShape.hpp
SFML_Package/include/SFML/Graphics/RenderStates.hpp
SFML_Package/include/SFML/Graphics/RenderTarget.hpp
SFML_Package/include/SFML/Graphics/RenderTexture.hpp
SFML_Package/include/SFML/Graphics/RenderWindow.hpp
SFML_Package/include/SFML/Graphics/Shader.hpp
SFML_Package/include/SFML/Graphics/Shape.hpp
SFML_Package/include/SFML/Graphics/Sprite.hpp
SFML_Package/include/SFML/Graphics/Text.hpp
SFML_Package/include/SFML/Graphics/Texture.hpp
SFML_Package/include/SFML/Graphics/Transform.hpp
SFML_Package/include/SFML/Graphics/Transformable.hpp
SFML_Package/include/SFML/Graphics/Vertex.hpp
SFML_Package/include/SFML/Graphics/VertexArray.hpp
SFML_Package/include/SFML/Graphics/VertexBuffer.hpp
SFML_Package/include/SFML/Graphics/View.hpp
SFML_Package/include/SFML/Network/Export.hpp
SFML_Package/include/SFML/Network/Ftp.hpp
SFML_Package/include/SFML/Network/Http.hpp
SFML_Package/include/SFML/Network/IpAddress.hpp
SFML_Package/include/SFML/Network/Packet.hpp
SFML_Package/include/SFML/Network/Socket.hpp
SFML_Package/include/SFML/Network/SocketHandle.hpp
SFML_Package/include/SFML/Network/SocketSelector.hpp
SFML_Package/include/SFML/Network/TcpListener.hpp
SFML_Package/include/SFML/Network/TcpSocket.hpp
SFML_Package/include/SFML/Network/UdpSocket.hpp
SFML_Package/include/SFML/System/Clock.hpp
SFML_Package/include/SFML/System/Err.hpp
SFML_Package/include/SFML/System/Export.hpp
SFML_Package/include/SFML/System/FileInputStream.hpp
SFML_Package/include/SFML/System/InputStream.hpp
SFML_Package/include/SFML/System/Lock.hpp
SFML_Package/include/SFML/System/MemoryInputStream.hpp
SFML_Package/include/SFML/System/Mutex.hpp
SFML_Package/include/SFML/System/NativeActivity.hpp
SFML_Package/include/SFML/System/NonCopyable.hpp
SFML_Package/include/SFML/System/Sleep.hpp
SFML_Package/include/SFML/System/String.hpp
SFML_Package/include/SFML/System/String.inl
SFML_Package/include/SFML/System/Thread.hpp
SFML_Package/include/SFML/System/Thread.inl
SFML_Package/include/SFML/System/ThreadLocal.hpp
SFML_Package/include/SFML/System/ThreadLocalPtr.hpp
SFML_Package/include/SFML/System/ThreadLocalPtr.inl
SFML_Package/include/SFML/System/Time.hpp
SFML_Package/include/SFML/System/Utf.hpp
SFML_Package/include/SFML/System/Utf.inl
SFML_Package/include/SFML/System/Vector2.hpp
SFML_Package/include/SFML/System/Vector2.inl
SFML_Package/include/SFML/System/Vector3.hpp
SFML_Package/include/SFML/System/Vector3.inl
SFML_Package/include/SFML/Window/Clipboard.hpp
SFML_Package/include/SFML/Window/Context.hpp
SFML_Package/include/SFML/Window/ContextSettings.hpp
SFML_Package/include/SFML/Window/Cursor.hpp
SFML_Package/include/SFML/Window/Event.hpp
SFML_Package/include/SFML/Window/Export.hpp
SFML_Package/include/SFML/Window/GlResource.hpp
SFML_Package/include/SFML/Window/Joystick.hpp
SFML_Package/include/SFML/Window/Keyboard.hpp
SFML_Package/include/SFML/Window/Mouse.hpp
SFML_Package/include/SFML/Window/Sensor.hpp
SFML_Package/include/SFML/Window/Touch.hpp
SFML_Package/include/SFML/Window/VideoMode.hpp
SFML_Package/include/SFML/Window/Vulkan.hpp
SFML_Package/include/SFML/Window/Window.hpp
SFML_Package/include/SFML/Window/WindowBase.hpp
SFML_Package/include/SFML/Window/WindowHandle.hpp
SFML_Package/include/SFML/Window/WindowStyle.hpp
SFML_Package/lib/libsfml-audio.a
SFML_Package/lib/libsfml-graphics.a
SFML_Package/lib/libsfml-main.a
SFML_Package/lib/libsfml-network.a
SFML_Package/lib/libsfml-system.a
SFML_Package/lib/libsfml-window.a
SFML/Audio.hpp
SFML/Config.hpp
SFML/GpuPreference.hpp
SFML/Graphics.hpp
SFML/Main.hpp
SFML/Network.hpp
SFML/OpenGL.hpp
SFML/System.hpp
SFML/Window.hpp
SFML/Audio/AlResource.hpp
SFML/Audio/Export.hpp
SFML/Audio/InputSoundFile.hpp
SFML/Audio/Listener.hpp
SFML/Audio/Music.hpp
SFML/Audio/OutputSoundFile.hpp
SFML/Audio/Sound.hpp
SFML/Audio/SoundBuffer.hpp
SFML/Audio/SoundBufferRecorder.hpp
SFML/Audio/SoundFileFactory.hpp
SFML/Audio/SoundFileFactory.inl
SFML/Audio/SoundFileReader.hpp
SFML/Audio/SoundFileWriter.hpp
SFML/Audio/SoundRecorder.hpp
SFML/Audio/SoundSource.hpp
SFML/Audio/SoundStream.hpp
SFML/Graphics/BlendMode.hpp
SFML/Graphics/CircleShape.hpp
SFML/Graphics/Color.hpp
SFML/Graphics/ConvexShape.hpp
SFML/Graphics/Drawable.hpp
SFML/Graphics/Export.hpp
SFML/Graphics/Font.hpp
SFML/Graphics/Glsl.hpp
SFML/Graphics/Glsl.inl
SFML/Graphics/Glyph.hpp
SFML/Graphics/Image.hpp
SFML/Graphics/PrimitiveType.hpp
SFML/Graphics/Rect.hpp
SFML/Graphics/Rect.inl
SFML/Graphics/RectangleShape.hpp
SFML/Graphics/RenderStates.hpp
SFML/Graphics/RenderTarget.hpp
SFML/Graphics/RenderTexture.hpp
SFML/Graphics/RenderWindow.hpp
SFML/Graphics/Shader.hpp
SFML/Graphics/Shape.hpp
SFML/Graphics/Sprite.hpp
SFML/Graphics/Text.hpp
SFML/Graphics/Texture.hpp
SFML/Graphics/Transform.hpp
SFML/Graphics/Transformable.hpp
SFML/Graphics/Vertex.hpp
SFML/Graphics/VertexArray.hpp
SFML/Graphics/VertexBuffer.hpp
SFML/Graphics/View.hpp
SFML/Network/Export.hpp
SFML/Network/Ftp.hpp
SFML/Network/Http.hpp
SFML/Network/IpAddress.hpp
SFML/Network/Packet.hpp
SFML/Network/Socket.hpp
SFML/Network/SocketHandle.hpp
SFML/Network/SocketSelector.hpp
SFML/Network/TcpListener.hpp
SFML/Network/TcpSocket.hpp
SFML/Network/UdpSocket.hpp
SFML/System/Clock.hpp
SFML/System/Err.hpp
SFML/System/Export.hpp
SFML/System/FileInputStream.hpp
SFML/System/InputStream.hpp
SFML/System/Lock.hpp
SFML/System/MemoryInputStream.hpp
SFML/System/Mutex.hpp
SFML/System/NativeActivity.hpp
SFML/System/NonCopyable.hpp
SFML/System/Sleep.hpp
SFML/System/String.hpp
SFML/System/String.inl
SFML/System/Thread.hpp
SFML/System/Thread.inl
SFML/System/ThreadLocal.hpp
SFML/System/ThreadLocalPtr.hpp
SFML/System/ThreadLocalPtr.inl
SFML/System/Time.hpp
SFML/System/Utf.hpp
SFML/System/Utf.inl
SFML/System/Vector2.hpp
SFML/System/Vector2.inl
SFML/System/Vector3.hpp
SFML/System/Vector3.inl
SFML/Window/Clipboard.hpp
SFML/Window/Context.hpp
SFML/Window/ContextSettings.hpp
SFML/Window/Cursor.hpp
SFML/Window/Event.hpp
SFML/Window/Export.hpp
SFML/Window/GlResource.hpp
SFML/Window/Joystick.hpp
SFML/Window/Keyboard.hpp
SFML/Window/Mouse.hpp
SFML/Window/Sensor.hpp
SFML/Window/Touch.hpp
SFML/Window/VideoMode.hpp
SFML/Window/Vulkan.hpp
SFML/Window/Window.hpp
SFML/Window/WindowBase.hpp
SFML/Window/WindowHandle.hpp
SFML/Window/WindowStyle.hpp
Lec29/Animal.cpp
Lec29/Animal.h
Lec29/Cat.cpp
Lec29/Cat.h
Lec29/Dog.cpp
Lec29/Dog.h
Lec29/Lion.cpp
Lec29/Lion.h
Lec29/main.cpp
Lec29/Makefile
Lec29/Animal.o
Lec29/Cat.o
Lec29/Dog.o
Lec29/Lec29.exe
Lec29/Lion.o
Lec29/main.o
SFML_template/main.o
SFML_template/SFML_template.exe
